<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SchedulingUI.Properties.Settings.U05FdzConnectionString"
            connectionString="server=52.206.157.109;user id=U05Fdz;password=53688484989;persistsecurityinfo=True;database=U05Fdz"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>